:root {
    --spacing: 100vh;
    overflow-x: hidden;
}

.bar {
    width: 70%;
    background-color: lightgrey;
}

.bar-inside {
    width: 1%;
    height: 30px;
    background-color: black;
}

.loading {
    opacity: 1;
    background-color: #fff;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.hidden {
    width: 0%;
    height: 0%;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position: absolute;
    /* width: 100vw; */
    z-index: 99;
    width: 100%;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;

    margin: 0px auto;
    padding: 120px 0px 0px 0px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-column: 2 / span 5;
    margin-bottom: var(--spacing);
}

a {
    color: black;
    transition: 200ms;
}

a:hover {
    color: darkgray;
    transition: 200ms;
}

header h1 {
    font-size: 4em;
}

header p {
    font-size: 1.5em;
}

.card {
    background: white;
    border: solid 8px black;
    margin-bottom: var(--spacing);
    padding: 1rem;
}

.left {
    grid-column: 2 / span 7;
}

.right {
    grid-column: 5 / span 7;
}

.note {
    font-style: italic;
}

footer {
    grid-column: 1/12;
    height: 8vh;
    width: 100vw;
    background: white;
    padding: 15px;
    margin-bottom: 0px;
}

body {
    /* color: white; */
    margin: 0px;
    padding: 0px;
}

footer {
}
