:root {
    --spacing: 100vh;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

main {
    position: absolute;
    /* width: 100vw; */
    z-index: 99;
    width: 100%;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;

    margin: 0px auto;
    padding: 120px 0px 0px 0px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

header {
    grid-column: 2 / span 8;
    margin-bottom: var(--spacing);
}

.card {
    background: grey;
    margin-bottom: var(--spacing);
    padding: 1rem;
}

.left {
    grid-column: 2 / span 7;
}

.right {
    grid-column: 5 / span 7;
}

.note {
    font-style: italic;
}

footer {
    grid-column: 1/12;
    height: 8vh;
    width: 100vw;
    background: white;
    padding: 15px;
    margin-bottom: 0px;
}

body {
    /* color: white; */
    margin: 0px;
    padding: 0px;
}

footer {
}
